body {
  margin: 0;
}
.header {
  background-color: #23689b;
  height: 5%;
  color: white;
}
.btnStart {
  margin: 10px 10px 10px 10px;
  font-size: 30px;
  background-color: #487e95;
  color: white;
  cursor: pointer;
}
.InputVariable {
  margin-left: 5%;
  font-size: 30px;
  height: 5%;
}
.content {
  flex-direction: column;
  height: auto;
  width: auto;
}
.content2 {
  height: auto;
  width: 25%;
  display: none;
}
table,
th {
  border-collapse: collapse;
}

td {
  /* border: 1px solid black; */
  border: 1px solid black;
  transition: 0.5s;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
}
td:hover {
  background-color: aquamarine;
}
.endGameScreen {
  display: none;
  position: absolute;
  font-size: 60px;
  left: 20%;
  top: 10%;
  width: 60%;
  height: 60%;
}
.btnEndGameScreen {
  font-size: 30px;
  cursor: pointer;
}
